* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@keyframes TriangleRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
